<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="2.4">
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.bawcom.union.Register</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ContactUs</servlet-name>
    <servlet-class>com.bawcom.union.ContactUs</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.bawcom.union.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Unlock</servlet-name>
    <servlet-class>com.bawcom.union.Unlock</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Lock</servlet-name>
    <servlet-class>com.bawcom.union.Lock</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadItem</servlet-name>
    <servlet-class>com.bawcom.union.UploadItem</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Order</servlet-name>
    <servlet-class>com.bawcom.union.Order</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Remove</servlet-name>
    <servlet-class>com.bawcom.union.Remove</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginCheck</servlet-name>
    <servlet-class>com.bawcom.union.LoginCheck</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Pay</servlet-name>
    <servlet-class>com.bawcom.union.Pay</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Ready</servlet-name>
    <servlet-class>com.bawcom.union.Ready</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Delete</servlet-name>
    <servlet-class>com.bawcom.union.Delete</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Update</servlet-name>
    <servlet-class>com.bawcom.union.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ContactUs</servlet-name>
    <url-pattern>/ContactUs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Unlock</servlet-name>
    <url-pattern>/Unlock</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Lock</servlet-name>
    <url-pattern>/Lock</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadItem</servlet-name>
    <url-pattern>/UploadItem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Order</servlet-name>
    <url-pattern>/Order</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Remove</servlet-name>
    <url-pattern>/Remove</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginCheck</servlet-name>
    <url-pattern>/LoginCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Pay</servlet-name>
    <url-pattern>/Pay</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Ready</servlet-name>
    <url-pattern>/Ready</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>